/********************************************************************************************************************************
********************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
/********************************************************************************************************************************
********************************************************************************************************************************/
/********************************************************
********************************************************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/* line 4, ../sass/helper/_extend.scss */
.margin-none {
  margin: 0;
}

/* line 7, ../sass/helper/_extend.scss */
.margin-top-none {
  margin-top: 0;
}

/* line 10, ../sass/helper/_extend.scss */
.margin-right-none {
  margin-right: 0;
}

/* line 13, ../sass/helper/_extend.scss */
.margin-bottom-none {
  margin-bottom: 0;
}

/* line 16, ../sass/helper/_extend.scss */
.margin-left-none {
  margin-left: 0;
}

/********************************************************
********************************************************/
/********************************************************
********************************************************/
/* line 25, ../sass/helper/_extend.scss */
.padding-none {
  padding: 0;
}

/* line 28, ../sass/helper/_extend.scss */
.padding-top-none {
  padding-top: 0;
}

/* line 31, ../sass/helper/_extend.scss */
.padding-right-none {
  padding-right: 0;
}

/* line 34, ../sass/helper/_extend.scss */
.padding-bottom-none {
  padding-bottom: 0;
}

/* line 37, ../sass/helper/_extend.scss */
.padding-left-none {
  padding-left: 0;
}

/**************************************************************************************************************
***************************************************************************************************************
1. Color
***************************************************************************************************************
**************************************************************************************************************/
/*$clr-white:					#fff;
$clr-black:					#000;

$grey-lighter:          #fbfbfb !default;
$grey-light:            #949494 !default;
$grey-dark:             #666 !default;

$brand-primary:         #4576a2 !default;
$brand-secondary:       #3791e2 !default;
$brand-red:					#ed1c24 !default;*/
/***************************************************************************************************************
***************************************************************************************************************/
/* line 1, ../sass/base/_global.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

/* line 1, ../sass/component/slider/_slider-rth.scss */
.slider-rth {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
  height: 100vh;
}
/* line 6, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
/* line 12, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul > li {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  min-height: 600px;
  -webkit-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -moz-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -ms-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -o-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
}
/* line 28, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul > li.active {
  left: 0;
  display: block;
}
/* line 32, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul > li.next {
  left: 100%;
  display: block;
}
/* line 36, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul > li.nnext {
  left: 200%;
  display: block;
}
/* line 40, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul > li.prev {
  left: -100%;
  display: block;
}
/* line 44, ../sass/component/slider/_slider-rth.scss */
.slider-rth > ul > li.pprev {
  left: -200%;
  display: block;
}
/* line 50, ../sass/component/slider/_slider-rth.scss */
.slider-rth .control_prev,
.slider-rth .control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
/* line 68, ../sass/component/slider/_slider-rth.scss */
.slider-rth .control_prev:hover,
.slider-rth .control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}
/* line 74, ../sass/component/slider/_slider-rth.scss */
.slider-rth .control_prev {
  border-radius: 0 2px 2px 0;
}
/* line 78, ../sass/component/slider/_slider-rth.scss */
.slider-rth .control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

/* line 84, ../sass/component/slider/_slider-rth.scss */
.slider_option {
  position: relative;
  margin: 0px auto;
  width: 160px;
  font-size: 18px;
}

/* line 4, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li .slide-bg {
  position: absolute;
  width: 110%;
  height: 100%;
  border-radius: 100px;
  -webkit-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -moz-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -ms-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -o-transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  transition: all 0.9s cubic-bezier(0.9, -0.35, 0.29, 1.35);
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
}
/* line 12, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li .slide-bg.blue {
  background: #145daa;
}
/* line 15, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li .slide-bg.green {
  background: #e73034;
}
/* line 18, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li .slide-bg.red {
  background: #0d9f4a;
}
/* line 23, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li.active .slide-bg {
  left: 0%;
  top: 30%;
  -moz-transform: rotate(9deg) translate(0, -50%);
  -o-transform: rotate(9deg) translate(0, -50%);
  -ms-transform: rotate(9deg) translate(0, -50%);
  -webkit-transform: rotate(9deg) translate(0, -50%);
  transform: rotate(9deg) translate(0, -50%);
  z-index: 1;
}
/* line 33, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li.next .slide-bg {
  left: 0%;
  top: 108%;
  -moz-transform: rotate(45deg) translate(0, -50%);
  -o-transform: rotate(45deg) translate(0, -50%);
  -ms-transform: rotate(45deg) translate(0, -50%);
  -webkit-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  z-index: 2;
}
/* line 43, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li.nnext .slide-bg {
  left: 0%;
  top: 108%;
  -moz-transform: rotate(45deg) translate(0, -50%);
  -o-transform: rotate(45deg) translate(0, -50%);
  -ms-transform: rotate(45deg) translate(0, -50%);
  -webkit-transform: rotate(45deg) translate(0, -50%);
  transform: rotate(45deg) translate(0, -50%);
  z-index: 2;
}
/* line 53, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li.prev .slide-bg {
  left: 0%;
  top: 55%;
  -moz-transform: rotate(-40deg) translate(0, -50%);
  -o-transform: rotate(-40deg) translate(0, -50%);
  -ms-transform: rotate(-40deg) translate(0, -50%);
  -webkit-transform: rotate(-40deg) translate(0, -50%);
  transform: rotate(-40deg) translate(0, -50%);
  z-index: 3;
}
/* line 63, ../sass/component/slider/_slides.scss */
.slider-rth > ul > li.pprev .slide-bg {
  left: 0%;
  top: 55%;
  -moz-transform: rotate(-40deg) translate(0, -50%);
  -o-transform: rotate(-40deg) translate(0, -50%);
  -ms-transform: rotate(-40deg) translate(0, -50%);
  -webkit-transform: rotate(-40deg) translate(0, -50%);
  transform: rotate(-40deg) translate(0, -50%);
  z-index: 3;
}
