.btn-water-blue{
    @include button-variant();
}
.btn-banner-form{
    @include button-variant();
    padding: $padding-default/2 0;
    text-align: center;
    width: 42px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: $padding-default;
}