.form-control {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    padding: 8px 12px;
    color: $clr-twilight-blue;
    font-size: $font-size-default;
    &:focus {
        box-shadow: none;
    }
}
textarea.form-control {
    resize: none;
}
.form-group {
    @include placeholder();
}
.required{
    position: relative;
    &:after{
        content: '*';
        position: absolute;
        top: 8px;
        line-height: 24px;
        color: $clr-twilight-blue;
        right: $padding-default/2;
    }
    > .form-control{
        padding-right: $padding-default*1.5;
    }
}