/**************************************************************************************************************
***************************************************************************************************************/

$clr-white: #fff;
$clr-black: #000;

$clr-water-blue: #0c60cb !default;
$clr-pinkish-grey: #cbcbcb !default;
$clr-nice-blue: #125bb8 !default;
$clr-twilight-blue: #073b77 !default;
$clr-white-one: #eeeeee !default;
$clr-white-two: #e6e6e6 !default;
$clr-brownish-grey: #6d6d6d !default;
$clr-carolina-blue: #8fc0ff !default;
$clr-light-grey-blue: #8cafd5 !default;
$clr-pinkish-grey-two: #c3c3c3 !default;
$clr-marine: #062252 !default;

/***************************************************************************************************************
***************************************************************************************************************/

$padding-default: 15px !default;

/***************************************************************************************************************
***************************************************************************************************************/

$font-size-default: 16px !default;
$font-size-medium: 18px !default;
$font-size-large: 20px !default;
$font-size-slider: 55px !default;

/***************************************************************************************************************
***************************************************************************************************************/

$mediaQuery-xs : 479px;
$mediaQuery-sm : 767px;
$mediaQuery-md : 991px;
$mediaQuery-lg : 1199px;

/***************************************************************************************************************
***************************************************************************************************************/

$border-radius-default: 5px;

/***************************************************************************************************************
***************************************************************************************************************/
