/***********************************
************ main-nav **************
***********************************/

.main-nav-wrapper {
    font-size: $font-size-medium;
    background: $clr-twilight-blue; //        padding: $padding-default/2 0;
    @include box-shadow();
    .main-nav-inner {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        .main-nav {
            -webkit-flex: auto;
            -ms-flex: auto;
            flex: auto;
            /**/
            > ul {
                list-style: none;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-align-content: space-between;
                -ms-flex-line-pack: justify;
                align-content: space-between;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                > li {
                    -webkit-flex: auto;
                    -ms-flex: auto;
                    flex: auto;
                    position: relative;
                    padding: $padding-default $padding-default/1.5 $padding-default 0;
                    > a {
                        color: $clr-white;
                        padding: $padding-default 0;
                    }
                    > i {
                        color: $clr-white;
                        padding: $padding-default/2;
                        cursor: pointer;
                        font-size: $font-size-medium - 2;
                        &:before {
                            @include rotate(0);
                            @include transition($time: .1s, $fun:ease-in);
                            display: block;
                        }
                    }
                    &.open {
                        > i:before {
                            @include rotate(180);
                        }
                    }
                    &.sub-menu {
                        position: relative;
                        > ul.sub-list {
                            display: none;
                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: 220px;
                            background: lighten($clr-twilight-blue, 3.5);
                            padding-bottom: $padding-default/2;
                            > li {
                                display: block;
                                background: lighten($clr-twilight-blue, 3.5);
                                @include transition($time: .3s, $fun:ease-in);
                                &:hover {
                                    background: lighten($clr-twilight-blue, 0);
                                }
                                a {
                                    display: block;
                                    padding: $padding-default/1.5 $padding-default;
                                    color: $clr-white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .request-info {
            -webkit-flex: 0;
            -ms-flex: 0;
            flex: 0;
            min-width: 240px;
            position: relative;
            a {
                @include button-variant();

                font-size: inherit;
                border-color: transparent;
                display: block;
                padding: $padding-default/1.5 0/*$padding-default*/
                ;
                text-align: center;
                background: $clr-water-blue;
                color: $clr-white;
                i {
                    margin-left: $padding-default/2;
                }
            }
            .proudly {
                position: absolute;
                top: 100%;
                right: 0;
                width: 100%;
                margin-top: 7px;
                z-index: -1;
                background: $clr-white-one;
                color: $clr-twilight-blue;
                padding: $padding-default/1.5 $padding-default*2;
                @include border-bottom-radius();
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                align-content: stretch;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                > * {
                    margin: 0;
                    padding: 0;
                }
                > img {
                    margin-right: 10px;
                }
                h3 {
                    font-size: $font-size-medium;
                    color: $clr-twilight-blue;
                    font-weight: bold;
                    small {
                        font-size: $font-size-medium - 2;
                        color: $clr-twilight-blue;
                        font-weight: normal;
                        display: block;
                    }
                }
            }

        }
    }
}


@media only screen and (max-width: $mediaQuery-md) {
    .main-nav-wrapper {
        .main-nav-inner {
            font-size: $font-size-default - 3;
            .main-nav {
                > ul {
                    > li {
                        > i {
                            font-size: $font-size-default - 5;
                        }
                    }
                }
            }
            .request-info {
                min-width: 180px;
            }
        }
    }
}


@media only screen and (max-width: $mediaQuery-sm) {
    .main-nav-wrapper {
        .main-nav-inner {
            //.main-nav-wrapper .main-nav-inner 
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            font-size: $font-size-default;
            .main-nav {
                display: none;
                -webkit-order: 2;
                -ms-flex-order: 2;
                order: 2;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                margin-left: -$padding-default;
                margin-right: -$padding-default;
                > ul {
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    border-top: 1px solid lighten($clr-twilight-blue, 4);
                    > li {
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        flex-direction: row;
                        -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        -webkit-justify-content: space-between;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-align-content: stretch;
                        -ms-flex-line-pack: stretch;
                        align-content: stretch;
                        -webkit-align-items: stretch;
                        -ms-flex-align: stretch;
                        align-items: stretch;

                        -webkit-align-self: stretch;
                        -ms-flex-item-align: stretch;
                        align-self: stretch;
                        padding: 0;
                        > a {
                            -webkit-flex: auto;
                            -ms-flex: auto;
                            flex: auto;
                            padding: $padding-default/1.5 0;
                            padding-left: $padding-default;
                        }
                        > i {
                            -webkit-flex: 0;
                            -ms-flex: 0;
                            flex: 0;
                            padding: $padding-default/1.5 $padding-default;
                            line-height: 19px;
                            text-align: right;
                            padding-right: $padding-default*2;
                        }
                        &.sub-menu > ul.sub-list {
                            -webkit-flex: 0 1 100%;
                            -ms-flex: 0 1 100%;
                            flex: 0 1 100%;
                            position: relative;
                            > li {
                                > a {
                                    padding: $padding-default/1.5 $padding-default;
                                    padding-left: $padding-default*2.5;
                                }
                            }
                        }
                    }
                }
            }
            .request-info {
                //.request-info 
                -webkit-order: 1;
                -ms-flex-order: 1;
                order: 1;
                -webkit-align-self: stretch;
                -ms-flex-item-align: stretch;
                align-self: stretch;
                font-weight: bold;
                a {
                    background: none;
                    > i {
                        &:before {
                            content: '\f178';
                        }
                    }
                }
                .proudly {
                    width: 235px;
                    margin-top: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: $mediaQuery-xs) {
    .main-nav-wrapper {
        .main-nav-inner {
            .request-info {
                .proudly {
                    max-width: 100%;
                    width: 265px;
                    margin-top: 0;
                    left: 0;
                    margin: auto;
                    padding: $padding-default/2 $padding-default;
                    h3 {
                        font-size: $font-size-medium - 2;
                        small {
                            font-size: $font-size-medium - 2;
                            display: inline-block;
                        }
                    }
                    > img {
                        height: 37px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $mediaQuery-sm + 1) {
    .main-nav-wrapper .main-nav-inner .main-nav {
        display: block !important;
    }
}