/***********************************
*********** top-stripe  ************
***********************************/

.top-strip {
    background: $clr-white-one;
    color: $clr-brownish-grey;
    ul.top-nav {
        padding: 0;
        margin: 0;
        text-align: right;
        li {
            display: inline-block;
            a {
                padding: $padding-default/2 $padding-default/2;
                display: inline-block;
                color: $clr-water-blue;
            }
            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: $mediaQuery-sm) {
    .top-strip {
        display: none;
    }
}