.row.gutters-banner-form {
    margin-right: -7.5px;
    margin-left: -7.5px;

    & > [class^="col-"],
    & > [class*=" col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

@media only screen and (max-width: $mediaQuery-sm) {
    .row.gutters-banner-form {
        margin-right: -5px;
        margin-left: -5px;

        & > [class^="col-"],
        & > [class*=" col-"] {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
}
@media only screen and (max-width: $mediaQuery-xs) {
    .row.gutters-banner-form {
        margin-right: -3px;
        margin-left: -3px;

        & > [class^="col-"],
        & > [class*=" col-"] {
            padding-right: 3px;
            padding-left: 3px;
        }
    }
}